.matchmaking-container {
    /* display: flex;
    align-items: center;
    justify-content: center; */
    margin: 20px;
}


.matchmaking-select-panel {
    background-color: #ffffff00;

    padding: 20px;
    border-radius: 8px;
    text-align: center;
  }
  
  .matchmaking-select-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .matchmaking-select-button {
    margin-bottom: 10px;
    margin-top: 10px;

  }
  
  .matchmaking-select-notification {
    font-size: 16px;
    color: #888;
    margin: 20px;
    text-align: center;
  }
  
  .matchmaking-countdown {
    margin: 20px;
    /* width: 100%; */
/* 
    margin: 0 auto; 
    display: flex;
    flex-direction: column;
    justify-content: space-between; */
  }
  
  .matchmaking-countdown-text {
    font-size: 28px;
    margin: 20px;
  }
  
  .matchmaking-timecounter {
    margin: 20px;
    display: flex;
    justify-content: center;

    position: relative;
    text-align: center;
  }
  
  .matchmaking-cancel-button {
    margin: 20px;

  }
  