/* Matchmaking Panel Styles */
.matchmaking-panel {
  text-align: center;
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.matchmaking-title {
  font-size: 24px;
  font-weight: bold;
  margin: 20px;
}
  
.matchmaking-search-button button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
  
.matchmaking-search-button button:hover {
  background-color: #0056b3;
}

.matchmaking-message p {
  font-size: 16px;
  margin-top: 10px;
}

.matchmaking-text {
  margin: 10px;
}

.matchmaking-search-in-progress {
  font-size: 18px;
  font-weight: bold;
  margin-top: 20px;
  color: #007bff; /* Blue color */
  align-items: center; /* Center vertically */

}

  .matchmaking-search-in-progress .time-counter {
    /* Adjust the styles for the TimeCounter component as needed */
    margin: 20px; /* Add some spacing to the right */
    align-items: center; 
  }
/* Searching in Progress Styles */
.matchmaking-search-failed {
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
    color: #ff4800; 
  }
  

      /* Searching in Progress Styles */
.matchmaking-search-success {
  font-size: 18px;
  font-weight: bold;
  margin-top: 20px;
  color: #1cbd00; 
}


.matchmaking-cancel-search button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #b40101;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 20px;
}

.matchmaking-cancel-search button:hover {
  background-color: #ca0000;
}

/* Style the container div */
.matchmaking-search-category {
  display: inline-block; /* You can adjust the display property as needed */
  margin: 20px; /* Adjust margin for spacing */
}

/* Style the select within the container */
.matchmaking-search-category select {
  width: 200px; /* Adjust the width as needed */
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  background-color: #fff;
}

/* Style the select options */
.matchmaking-search-category select option {
  font-size: 16px;
  padding: 5px;
}

/* Style the select when it's focused */
.matchmaking-search-category select:focus {
  border: 1px solid #007bff; /* Change the border color on focus */
}


.matchmaking-average-waiting-time {
  font-size: 16px;
  color: grey;
}

