html, body {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.matchmaking-success {
    text-align: center;
}

.matchmaking-success-title {
    font-size: 48px;
    color: rgb(41, 193, 41);
}

.matchmaking-success-notification {
    font-size: 24px;
    margin-top: 20px;
}

  .matchmaking-success-timecounter {
    margin: 20px;
    display: flex;
    justify-content: center;

    position: relative;
    text-align: center;
  }
  