/* App container */
.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: Arial, sans-serif;
  margin-top: -60px;
}

/* Main container */
.main-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 80%;
  max-width: 1200px;
  margin-top: 50px;
  height: 700px;
}

/* New question container (left side) */
.new-question-container {
  flex: 2;
  padding: 20px;
  position: sticky;
  top: 40px;
  /* background-color: #f0f0f0; */
  /* border-radius: 5px; */
  /* box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); */
}

/* Question list container (right side) */
.question-list-container {
  flex: 2;
  padding: 20px;
  /* background-color: #fff;*/
  top: 40px;
  width: 100%;
  overflow-y: auto; /* Enable vertical scrolling if needed */
  /* position: relative;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); */
}

/* Header styles (adjust as needed) */
header {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
  text-align: center;
  font-size: 24px;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px; /* Adjust the height as needed */
}

.loader-spinner {
  width: 40px; /* Adjust the size of the spinner */
  height: 40px; /* Adjust the size of the spinner */
  border: 4px solid rgba(0, 0, 0, 0.2); /* Spinner border */
  border-top: 4px solid #3498db; /* Spinner color */
  border-radius: 50%; /* Makes it a circle */
  animation: spin 1s linear infinite; /* Add animation properties */
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* Add this CSS to your stylesheet */
.button-logout {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1000;
  padding: 10px 15px;
  background-color: #ff0000; /* Change the background color to your preference */
  color: #ffffff; /* Change the text color to your preference */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}
