.question-item {
  margin: 1rem 0;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 6px;
  padding: 1rem;
}

.question-item h2 {
  margin: 0 0 0.5rem 0;
  font-size: 1.75rem;
  color: #343434;
}

.question-item p {
  margin: 0;
  color: #505050;
}

/* Delete Modal */
.delete-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.3);
  text-align: center;
  z-index: 1000;
}

.delete-modal p {
  margin: 0;
  font-size: 18px;
  margin-bottom: 20px;
  color: #333333;
}

.delete-modal button {
  background-color: #ff0101;
  color: #ffffff;
  border: none;
  padding: 8px 24px;
  border-radius: 6px;
  margin-right: 10px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.delete-modal button:hover {
  background-color: #a10000;
  transform: scale(1.05); /* Slightly scale up on hover */
}

/* Question Item */
.question-item {
  display: flex;
  justify-content: space-between; /* Aligns items horizontally with space in between */
  align-items: center; /* Centers items vertically */
  margin-bottom: 20px;
  transition: transform 0.3s ease; /* Smooth transition on hover */
}

.question-item:hover {
  transform: scale(1.05); /* Slightly scale up on hover */
  transition: transform 0.3s ease; /* Smooth transition on hover */
}

/* Question Content */
.question-content {
  flex-grow: 1; /* Allows content to grow and take available space */
}

/* Delete Container */
.delete-container {
  display: flex;
  flex-direction: column;
}

/* Delete Button */
.delete-button {
  background-color: #ff0101;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px; /* Add some margin to separate it from other elements */
  transition: background-color 0.3s ease; /* Smooth hover effect */
}

.delete-button:hover {
  transform: scale(1.05); /* Slightly scale up on hover */
  background-color: #a10000;
  transition: background-color 0.3s ease; /* Smooth transition on hover */
}
